@import 'mixins/colors';
@import 'mixins/pos';

.App
  position absolute
  width 100%
  height 100%
  overflow hidden
  background-color #333
  color text-color
  font-family Helvetica, Arial, sans-serif
  z-index 1

  .DateNav
    abspos 0px false 0px 0px
    width 250px

  .ThreeDayView
    abspos 0px 0px 0px 250px
    z-index 5 

