@import 'mixins/colors';
@import 'mixins/border';
@import 'mixins/box';
@import 'mixins/pos';

border-tri(borderSize = 10px, borderColor = #555)
  content ""
  display block
  border-color transparent transparent transparent borderColor
  border-style solid
  border-width borderSize
  height 0
  width 0
  z-index 2 

triangle(size=8px,fgcolor,bordercolor,t=0px,r=0px)
  &:before
    content ""
    abspos t r false false
    border-tri size fgcolor

  &:after
    content ""
    abspos t (r + 5px) false false
    border-tri size bordercolor


.DateNav

  > .CatTable
    background-color bg-color
    border-radius 5px
    vertical-align top
    width 250px
    height 100%
    
    > .categories
      border-collapse collapse
      width 100%
      z-index 1

      > .category
        border-bottom 1px solid bg-color-dark
        text-align left
        position relative

        &.selected
          triangle 16px bg-color-dark bg-color-watched-show 30% -32px
          background-color bg-color-watched-show

          &:last-child
            border-radius 0 0 5px 5px

          &:first-child
            border-radius 5px 5px 0 0

          &:hover
            background-color bg-color-watched-show

          > .header > .dateDay
            .date
              background-color bg-color-calendar-light
              color text-color-light
            .day
              color text-color

          > .members > .member
            &::before
              background-color divider-light + #222

            > .timeslot
              color text-color-light

              .time
                color text-color-dark

        &:hover
          background-color bg-color + rgb(8,8,8)

        > .header
          display inline-block
          padding 10px 7px 10px 13px
          width 33px
          position relative
          vertical-align middle

          > .dateDay
            position relative
            > .date
              &::before
                abspos 4px false false 6px
                
              &::after
                abspos 4px 6px false false

              &::after, &::before
                box-shadow inset 0px 1px 1px shadow-color-dark
                background-color bg-color-dark
                border-radius 5px
                content ""
                display block
                height 5px
                width 5px

              box-shadow 0px 2px 3px shadow-color + #080808
              border-radius 2px
              background-color bg-color-calendar
              color text-color-dark
              font-size 18px
              font-weight bold
              text-align center
              margin-bottom 5px
              padding 12px 0 3px 0
              width 100%
              height 100%
              vertical-align middle

            > .day
              color text-disabled-color
              text-align center
              font-size 14px
              font-weight bold


        > .members
          display inline-block
          padding 10px 5px 10px 0
          width 187px
          vertical-align middle

          > .member
            display table
            width 100%
            margin-top 7px
            margin-left 5px
            position relative
            z-index 1

            &::before
              content ""
              abspos -4px 10px false 0px
              height 1px
              background-color divider-light
              z-index 5

            &:first-child
              margin-top 2px

              &::before
                background-color transparent

            > .timeslot
              display table-row
              color text-color-dark

              > .time
                color text-disabled-color
                display table-cell
                font-style italic
                padding 5px 5px 5px 0px
                text-align left
                vertical-align top 
                width 10px

              > .shows
                display table-cell
                vertical-align middle

                > .show
                  padding 5px


