@import 'mixins/colors';
@import 'mixins/border';

.ThreeDayView
  > .day
    border-radius 3px
    display inline-block
    width 400px
    background-color bg-color
    margin 5px
    vertical-align top

    &:nth-child(2)
      background-color bg-color-light

    > .showTable
      border-collapse collapse
      width 100%

      td
        padding 5px
        
        &.time
          width 80px
        &.network
          width 35px

