@import 'mixins/colors';
@import 'mixins/border';
@import 'mixins/box';

.ThreeDayView
  text-align center
  > .day
    box-shadow 0px 2px 5px shadow-color
    border-radius 3px
    width 600px
    background-color rgba(bg-color,.7)
    margin 15px auto 15px
    padding 5px 10px 10px 10px
    vertical-align top

    > table
      border-collapse collapse
      text-align left
      width 100%

      > tbody > tr

        > td
          vertical-align middle
          padding 5px
          height 30px

          &.network
            padding 0 5px 0 10px
            font-size 10px
            color text-disabled-color
            line-height 12px
            width 35px

          &.title
            font-size 16px
            color text-color-dark

