bg-color-dark = rgb(45,45,45)
bg-color = rgb(55,55,55)
bg-color-light = #4D4D4D
bg-selected-color-dark = #555
bg-selected-color = #666
bg-selected-color-light = #777
shadow-color = #222
shadow-color-dark = #111
text-color-light = #FFF
text-color = #DDD
text-color-dark = #BBB
text-disabled-color = #888
divider-light = #484848
divider-dark = shadow-color

bg-color-watched-show = bg-color-light + rgb(0,3,17) - rgb(10,10,10)

bg-color-calendar = #663333
bg-color-calendar-light = #903333 
