bg-color-dark = #333
bg-color = #404040
bg-color-light = #4D4D4D
bg-selected-color-dark = #555
bg-selected-color = #666
bg-selected-color-light = #777
shadow-color = #222
shadow-color-dark = #111
text-color-light = #FFF
text-color = #DDD
text-color-dark = #BBB
text-disabled-color = #888
divider-light = #484848
divider-dark = shadow-color
