bg-color-dark = #333
bg-color = #404040
bg-color-light = #4D4D4D
bg-selected-color-dark = #666
bg-selected-color-light = #777
shadow-color = #222
shadow-color-dark = #111
text-color = #FFF
text-color-dark = #BBB
text-disabled-color = #888
